In [348]:
import numpy as np
import pandas as pd

In [349]:
credit_risk = 'https://raw.githubusercontent.com/tracysnowf/Deloitte-CapstoneProject/main/data/Mortgage%20Lending_raw.csv'
df_cr = pd.read_csv(credit_risk, sep = ',')

## Columns Analysis

In [350]:
df_cr.head() # column 0 is redundant

,Unnamed: 0,derived_ethnicity,derived_race,derived_sex,action_taken,preapproval,loan_type,loan_purpose,loan_amount,loan_to_value_ratio,interest_only_payment,balloon_payment,income,debt_to_income_ratio,applicant_age
0,0,Not Hispanic or Latino,Black or African American,Female,1,2,1,32,105000.0,75.0,2,2,91.0,48,35-44
1,1,Not Hispanic or Latino,Black or African American,Female,3,2,1,31,275000.0,52.38,2,2,142.0,44,>74
2,2,Hispanic or Latino,White,Male,3,2,1,1,235000.0,80.0,2,2,60.0,38,35-44
3,3,Not Hispanic or Latino,White,Male,1,2,1,1,465000.0,94.69,2,2,112.0,42,35-44
4,4,Not Hispanic or Latino,Black or African American,Male,1,1,3,1,415000.0,100.0,2,2,83.0,50%-60%,25-34

In [351]:
df_cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14509 entries, 0 to 14508
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             14509 non-null  int64
 1   derived_ethnicity      14509 non-null  object
 2   derived_race           14509 non-null  object
 3   derived_sex            14509 non-null  object
 4   action_taken           14509 non-null  int64
 5   preapproval            14509 non-null  int64
 6   loan_type              14509 non-null  int64
 7   loan_purpose           14509 non-null  int64
 8   loan_amount            14509 non-null  float64
 9   loan_to_value_ratio    13902 non-null  object
 10  interest_only_payment  14509 non-null  int64
 11  balloon_payment        14509 non-null  int64
 12  income                 14027 non-null  float64
 13  debt_to_income_ratio   13787 non-null  object
 14  applicant_age          14509 non-null  object
dtypes: float64(2), int64(7), object(6)
memory usage: 1.7+ MB

#### Unnamed: 0

In [352]:
df_cr = df_cr.drop('Unnamed: 0', 1) # delete index column from csv

In [353]:
df_cr.describe()
# Action Taken:
# 1 -- Loan originated
# 2 -- Application approved but not accepted
# 3 -- Application denied by financial institution

# Preapproval:
# 1 -- Preapproval was requested
# 2 -- Preapproval was not requested

# Loan Type: **75% IQR = 1
# 1 -- Conventional (any loan other than FHA, VA, FSA, or RHS loans)
# 2 -- FHA-insured (Federal Housing Administration)
# 3 -- VA-guaranteed (Veterans Administration)
# 4 -- FSA/RHS (Farm Service Agency or Rural Housing Service)

# Loan Purpose: **error data,
# 1 -- Home purchase
# 2 -- Home improvement
# 3 -- Refinancing

# Loan Amount: in thousands of dollars

# interest_only_payment **not in the codebook, 1111？

# balloon_payment **not in the codebook, 1111？

# income: Gross Annual Income: in thousands of dollars **negative/ error data

,action_taken,preapproval,loan_type,loan_purpose,loan_amount,interest_only_payment,balloon_payment,income
count,14509.000000,14509.000000,14509.000000,14509.000000,1.450900e+04,14509.000000,14509.000000,14027.000000
mean,1.501482,1.978979,1.147081,14.755669,3.924981e+05,14.098973,14.135295,160.826335
std,0.866909,0.143461,0.459418,14.860877,3.340678e+05,115.466461,115.462492,297.351109
min,1.000000,1.000000,1.000000,1.000000,5.000000e+03,1.000000,1.000000,-123.000000
25%,1.000000,2.000000,1.000000,1.000000,1.950000e+05,2.000000,2.000000,79.000000
50%,1.000000,2.000000,1.000000,4.000000,3.450000e+05,2.000000,2.000000,116.000000
75%,3.000000,2.000000,1.000000,31.000000,5.050000e+05,2.000000,2.000000,170.000000
max,3.000000,2.000000,4.000000,32.000000,7.505000e+06,1111.000000,1111.000000,20000.000000

#### loan_type

In [354]:
len(df_cr[df_cr['loan_type'] == 1]) / len(df_cr['loan_type'])

0.895582052519126

#### loan_purpose

In [355]:
df_cr[df_cr['loan_purpose'] > 4]

,derived_ethnicity,derived_race,derived_sex,action_taken,preapproval,loan_type,loan_purpose,loan_amount,loan_to_value_ratio,interest_only_payment,balloon_payment,income,debt_to_income_ratio,applicant_age
0,Not Hispanic or Latino,Black or African American,Female,1,2,1,32,105000.0,75.0,2,2,91.0,48,35-44
1,Not Hispanic or Latino,Black or African American,Female,3,2,1,31,275000.0,52.38,2,2,142.0,44,>74
5,Not Hispanic or Latino,Black or African American,Female,1,2,1,32,215000.0,79.06,2,2,54.0,>60%,55-64
9,Not Hispanic or Latino,Black or African American,Male,1,2,3,32,755000.0,87.2,2,2,159.0,30%-<36%,35-44
18,Not Hispanic or Latino,Black or African American,Female,1,2,2,32,285000.0,85.0,2,2,82.0,20%-<30%,35-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14503,Hispanic or Latino,White,Male,3,2,1,32,225000.0,75.0,2,2,76.0,>60%,55-64
14505,Not Hispanic or Latino,Black or African American,Male,3,2,1,32,385000.0,75.0,2,2,160.0,38,25-34
14506,Not Hispanic or Latino,White,Male,1,2,1,32,655000.0,77.0,2,2,150.0,42,55-64
14507,Ethnicity Not Available,Race Not Available,Male,1,2,1,31,255000.0,50.0,2,2,148.0,43,45-54
14508,Not Hispanic or Latino,Black or African American,Male,1,2,1,32,475000.0,65.0,2,2,173.0,39,25-34

#### derived_ethnicity

In [356]:
pd.unique(df_cr['derived_ethnicity'])

array(['Not Hispanic or Latino', 'Hispanic or Latino', 'Joint',
       'Ethnicity Not Available', 'Free Form Text Only'], dtype=object)

#### derived_race

In [357]:
pd.unique(df_cr['derived_race']) # can we combine this column with derived_ethnicity?

array(['Black or African American', 'White', 'Asian',
       '2 or more minority races', 'Race Not Available',
       'American Indian or Alaska Native', 'Joint',
       'Native Hawaiian or Other Pacific Islander', 'Free Form Text Only'],
      dtype=object)

#### derived_sex

In [358]:
pd.unique(df_cr['derived_sex']) # OK

array(['Female', 'Male'], dtype=object)

#### loan_to_value_ratio

In [359]:
pd.unique(df_cr['loan_to_value_ratio'])

array(['75.0', '52.38', '80.0', ..., '68.883', '87.03', '52.45'],
      dtype=object)

In [360]:
df_cr['loan_to_value_ratio'].map(type).value_counts()

<class 'str'>      13902
<class 'float'>      607
Name: loan_to_value_ratio, dtype: int64

In [361]:
# 159 "Exempt" cannot be recognized as nan
# 13902 non-null data
# 13902 - 159 = 13743 numeric values
df_nonnull_loan_to_value_ratio = df_cr[pd.to_numeric(df_cr['loan_to_value_ratio'].notnull(),errors='coerce')]['loan_to_value_ratio']
len(df_nonnull_loan_to_value_ratio)

13902

In [362]:
# np.array_equal(df_nonnull_loan_to_value_ratio, df_nonnull_loan_to_value_ratio.astype(float))
len(df_nonnull_loan_to_value_ratio[(df_nonnull_loan_to_value_ratio == "Exempt")])

159

In [363]:
df_nonexempt_loan_to_value_ratio = df_nonnull_loan_to_value_ratio[(df_nonnull_loan_to_value_ratio != "Exempt")]
df_nonexempt_loan_to_value_ratio
# 14509 - 607 - 159

0         75.0
1        52.38
2         80.0
3        94.69
4        100.0
         ...
14504     80.0
14505     75.0
14506     77.0
14507     50.0
14508     65.0
Name: loan_to_value_ratio, Length: 13743, dtype: object

#### debt_to_income_ratio

In [364]:
pd.unique(df_cr['debt_to_income_ratio']) # should create a new column: 36% - 49%, Exempt = NaN?

array(['48', '44', '38', '42', '50%-60%', '>60%', '30%-<36%', '40', '36',
       '<20%', '20%-<30%', '49', '47', '43', '41', '39', '46', '37', '45',
       nan, 'Exempt'], dtype=object)

In [365]:
df_cr["debt_to_income_ratio"].replace(['48', '44', '38', '42', '40', '36', '49', '47', '43', '41', '39', '46', '37', '45'], '36%-<50%', regex=False, inplace=True)

In [366]:
pd.unique(df_cr['debt_to_income_ratio'])

array(['36%-<50%', '50%-60%', '>60%', '30%-<36%', '<20%', '20%-<30%', nan,
       'Exempt'], dtype=object)

#### applicant_age

In [367]:
pd.unique(df_cr['applicant_age']) # 8888
# df_cr[(df_cr['applicant_age'] == '8888')] # print 4 rows with age = 8888

array(['35-44', '>74', '25-34', '55-64', '45-54', '65-74', '<25', '8888'],
      dtype=object)