In [3]:
import numpy as np
import pandas as pd

In [4]:
credit_risk = 'https://raw.githubusercontent.com/tracysnowf/Deloitte-CapstoneProject/main/data/Mortgage%20Lending_raw.csv'
df_cr = pd.read_csv(credit_risk, sep = ',')

In [5]:
df_cr.head() # column 0 is redundant

,Unnamed: 0,derived_ethnicity,derived_race,derived_sex,action_taken,preapproval,loan_type,loan_purpose,loan_amount,loan_to_value_ratio,interest_only_payment,balloon_payment,income,debt_to_income_ratio,applicant_age
0,0,Not Hispanic or Latino,Black or African American,Female,1,2,1,32,105000.0,75.0,2,2,91.0,48,35-44
1,1,Not Hispanic or Latino,Black or African American,Female,3,2,1,31,275000.0,52.38,2,2,142.0,44,>74
2,2,Hispanic or Latino,White,Male,3,2,1,1,235000.0,80.0,2,2,60.0,38,35-44
3,3,Not Hispanic or Latino,White,Male,1,2,1,1,465000.0,94.69,2,2,112.0,42,35-44
4,4,Not Hispanic or Latino,Black or African American,Male,1,1,3,1,415000.0,100.0,2,2,83.0,50%-60%,25-34

In [6]:
df_cr = df_cr.drop('Unnamed: 0', 1) # delete index column from csv

In [7]:
df_cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14509 entries, 0 to 14508
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   derived_ethnicity      14509 non-null  object
 1   derived_race           14509 non-null  object
 2   derived_sex            14509 non-null  object
 3   action_taken           14509 non-null  int64
 4   preapproval            14509 non-null  int64
 5   loan_type              14509 non-null  int64
 6   loan_purpose           14509 non-null  int64
 7   loan_amount            14509 non-null  float64
 8   loan_to_value_ratio    13902 non-null  object
 9   interest_only_payment  14509 non-null  int64
 10  balloon_payment        14509 non-null  int64
 11  income                 14027 non-null  float64
 12  debt_to_income_ratio   13787 non-null  object
 13  applicant_age          14509 non-null  object
dtypes: float64(2), int64(6), object(6)
memory usage: 1.5+ MB

In [8]:
df_cr.describe()
# Action Taken:
# 1 -- Loan originated
# 2 -- Application approved but not accepted
# 3 -- Application denied by financial institution

# Preapproval:
# 1 -- Preapproval was requested
# 2 -- Preapproval was not requested

# Loan Type: **75% IQR = 1
# 1 -- Conventional (any loan other than FHA, VA, FSA, or RHS loans)
# 2 -- FHA-insured (Federal Housing Administration)
# 3 -- VA-guaranteed (Veterans Administration)
# 4 -- FSA/RHS (Farm Service Agency or Rural Housing Service)

# Loan Purpose: **error data
# 1 -- Home purchase
# 2 -- Home improvement
# 3 -- Refinancing

# Loan Amount: in thousands of dollars

# interest_only_payment **not in the codebook, 1111？

# balloon_payment **not in the codebook, 1111？

# income: Gross Annual Income: in thousands of dollars **negative/ error data

,action_taken,preapproval,loan_type,loan_purpose,loan_amount,interest_only_payment,balloon_payment,income
count,14509.000000,14509.000000,14509.000000,14509.000000,1.450900e+04,14509.000000,14509.000000,14027.000000
mean,1.501482,1.978979,1.147081,14.755669,3.924981e+05,14.098973,14.135295,160.826335
std,0.866909,0.143461,0.459418,14.860877,3.340678e+05,115.466461,115.462492,297.351109
min,1.000000,1.000000,1.000000,1.000000,5.000000e+03,1.000000,1.000000,-123.000000
25%,1.000000,2.000000,1.000000,1.000000,1.950000e+05,2.000000,2.000000,79.000000
50%,1.000000,2.000000,1.000000,4.000000,3.450000e+05,2.000000,2.000000,116.000000
75%,3.000000,2.000000,1.000000,31.000000,5.050000e+05,2.000000,2.000000,170.000000
max,3.000000,2.000000,4.000000,32.000000,7.505000e+06,1111.000000,1111.000000,20000.000000

In [9]:
pd.unique(df_cr['derived_ethnicity'])

array(['Not Hispanic or Latino', 'Hispanic or Latino', 'Joint',
       'Ethnicity Not Available', 'Free Form Text Only'], dtype=object)

In [10]:
pd.unique(df_cr['derived_race']) # can we combine this column with derived_ethnicity?

array(['Black or African American', 'White', 'Asian',
       '2 or more minority races', 'Race Not Available',
       'American Indian or Alaska Native', 'Joint',
       'Native Hawaiian or Other Pacific Islander', 'Free Form Text Only'],
      dtype=object)

In [11]:
pd.unique(df_cr['derived_sex']) # OK

array(['Female', 'Male'], dtype=object)

In [26]:
# 159 (possible nan) values cannot be recognized as nan 

13902 + 766 - 14509

766

159

In [15]:
pd.unique(df_cr['debt_to_income_ratio']) # should create a new column: 36% - 49%, Exempt = NaN?

array(['48', '44', '38', '42', '50%-60%', '>60%', '30%-<36%', '40', '36',
       '<20%', '20%-<30%', '49', '47', '43', '41', '39', '46', '37', '45',
       nan, 'Exempt'], dtype=object)

In [35]:
pd.unique(df_cr['applicant_age']) # 8888
# df_cr[(df_cr['applicant_age'] == '8888')] # print 4 rows with age = 8888

array(['35-44', '>74', '25-34', '55-64', '45-54', '65-74', '<25', '8888'],
      dtype=object)