In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import xgboost as xgb
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import classification_report
from sklearn.feature_selection import mutual_info_classif
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
credit_risk = 'https://raw.githubusercontent.com/tracysnowf/Deloitte-CapstoneProject/main/data/Clean_Mortgage_Lending.csv'
df_cr = pd.read_csv(credit_risk, sep = ',')

In [5]:
df_cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11148 entries, 0 to 11147
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                11148 non-null  int64
 1   is_not_hispanic           11148 non-null  object
 2   derived_race              11148 non-null  object
 3   is_male                   11148 non-null  object
 4   action_taken              11148 non-null  int64
 5   preapproval_requested     11148 non-null  object
 6   loan_type                 11148 non-null  object
 7   loan_purpose              11148 non-null  object
 8   loan_amount               11148 non-null  float64
 9   loan_to_value_ratio       11148 non-null  float64
 10  interest_only_payment     11148 non-null  int64
 11  balloon_payment           11148 non-null  int64
 12  income                    11148 non-null  float64
 13  debt_to_income_ratio      11148 non-null  object
 14  applicant_age             11148 non-null  object
 15  log_loan_to_value_ratio   11148 non-null  float64
 16  mid_debt_to_income_ratio  11148 non-null  float64
 17  debt                      11148 non-null  float64
dtypes: float64(6), int64(4), object(8)
memory usage: 1.5+ MB

In [6]:
df_cr.nunique()

Unnamed: 0                  11148
is_not_hispanic                 2
derived_race                    4
is_male                         2
action_taken                    2
preapproval_requested           2
loan_type                       3
loan_purpose                    4
loan_amount                   217
loan_to_value_ratio          5907
interest_only_payment           2
balloon_payment                 2
income                        725
debt_to_income_ratio            6
applicant_age                   7
log_loan_to_value_ratio      5907
mid_debt_to_income_ratio        6
debt                         1829
dtype: int64

In [9]:
# get sensitive attributes
X = df_cr[['is_not_hispanic', 'derived_race', 'is_male', 'income', 'applicant_age']]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11148 entries, 0 to 11147
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   is_not_hispanic  11148 non-null  object
 1   derived_race     11148 non-null  object
 2   is_male          11148 non-null  object
 3   income           11148 non-null  float64
 4   applicant_age    11148 non-null  object
dtypes: float64(1), object(4)
memory usage: 435.6+ KB

In [12]:
y = df_cr[['action_taken']]